.home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.2fr 1fr;
	grid-template-areas:
		"tracking tracking"
		"shipper shipper";

	gap: 2rem;
	height: calc(100vh - 80px);
	padding: 2rem;
}

.tracking {
	grid-area: tracking;
}

.shipper {
	grid-area: shipper;
}

.user {
	grid-area: user;
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


// --

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 20px;
	color: white;
	background: #1e1e1e;

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	transition: transform 0.2s ease, box-shadow 0.2s ease;


    animation: fadeUp 0.6s ease forwards;
	opacity: 0;
    animation-delay: 0.35s;

    transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}


.card:hover {
	transform: translateY(-8px) scale(1.01);
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}


.tracking {
	background: linear-gradient(135deg, #0984e3, #74b9ff);
}

.shipper {
	background: #2d3436;
}

.user {
	background: #3d3d3d;
}

.card h2 {
	margin-bottom: 1rem;
	letter-spacing: 3px;
}

.card button {
	padding: 0.8rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

// --

@media (max-width: 768px) {
	.home-grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			"tracking"
			"shipper"
			"user";
	}
}

// --

.tracking-box {
	display: flex;
	gap: 1rem;
	margin-top: 1.2rem;
}

.tracking-box input {
	flex: 1;
	padding: 0.8rem 1rem;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1rem;
}

.tracking-box input:focus {
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}

.tracking-box button {
	padding: 0.8rem 1.5rem;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	background: #ffffff;
	color: #0984e3;
	transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.tracking-box button:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

button:active {
	transform: scale(0.96);
}
