<div class="home-grid">
	<div class="card tracking">
		<h2>TRACKING</h2>
		<p>¿Ya tienes tu número de seguimiento?</p>
		<p>Ingresa aquí para ver cómo va</p>

		<div class="tracking-box">
			<input
				type="text"
				placeholder="Ej: TRK-983472"
				#trackingInput
			/>
			<button (click)="goToTracking(trackingInput.value)">
				Buscar
			</button>
		</div>
	</div>

	<div class="card shipper">
		<h2>Envios</h2>
		<p>Revisa tus envíos</p>
		<button (click)="goTo('/shipper')">Entrar</button>
	</div>
</div>
