<div class="home-grid">
	<div class="card tracking">
		<h2>TRACKING</h2>
        <p>Ya tienes tu numero de seguimiento?</p>
        <p>Ingresalo aqui para ver como va!</p>
		<button (click)="goTo('/tracking')">Go</button>
	</div>

	<div class="card shipper">
		<h2>SHIPPER</h2>
        <p>Revisa tus envios</p>
		<button (click)="goTo('/shipper')">Go</button>
	</div>

	<div class="card user">
		<h2>USER</h2>
        <p>Revisa tus pedidos</p>
		<button (click)="goTo('/user')">Go</button>
	</div>
</div>
